.canaco-login{
    width: 156px;
}

.config-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 15px;
}
.center{
    text-align: center;
    margin: 4% auto;
    display: block;
}

.form-modal{
    padding: 0 15px;
    max-width: 550px;
    display: block;
    margin: auto;
}
.form-arrows{
    color: #077584;
    width: 40px;
    font-size: 42px;
}
.dropify-wrapper{
    border-radius: 100% !important;
    width: 156px !important;
    margin: auto !important;
    height: 156px !important;
}
.upload-icon{
    height: 40px;
    width: 40px;
    font-size: 28px;
}
.form-footer{
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 5rem;
    border-top: 1px solid #e9ecef;
}
.center-text{
    text-align: center;
}

.bd-example-modal-sm{
    opacity: 1 !important;
    background: #00000069;
}

.bd-example-modal-sm .modal-dialog{
    top: 25%;
}

.itemCompanySize:hover{
    background: #84b726;
    color: white;
}

.carousel-indicators li::before {
    content: '';
    position: absolute;
    background: #fff;
    left: 50%;
    top: 50%;
    margin: -4px 0 0 -4px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 20px;
}

.carousel-indicators li{
    border: 0;
    background: transparent;
    display: block;
    height: 14px;
    width: 14px;
    background: #3ac47d;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    color: transparent;
    opacity: 1;
}

.action-icon:hover{
    color: #3ac47d;
    transform: scale(1.5);
}

.action-icon{
    font-size: 14px;
    margin: 0 4px;
    cursor: pointer;
}

.swal2-popup {
   
    border-radius: 25px !important;
    box-shadow: 2px 8px 24px #737171;
}


button.dt-button, div.dt-button, a.dt-button {
    border: 1px solid #4dca8a !important;
    border-radius: 8px !important;
    background: #3ac47d !important;
    color:  white !important;
    font-size: 16px;
}
.form-login{
    padding-left: 80px;
    padding-right: 80px;
}

.icon-select-article i{
    font-size: 33px;
    margin: 10px;
    color: #cad8e3;
    display: inline;
}

.icon-select-article span{
    font-size: 18px;
}
.menu-select-article{
    list-style-type: none;
}

.menu-select-article li{
    cursor: pointer;
}

.menu-select-article label{
    cursor: pointer;
    width: 300px;
    font-size: 22px;
    text-align: left;
}

.input-group-text i{
    color: white;
}

.cursor{
    cursor: pointer;
}

.form-popup {
    padding: 0px 42px;
    width: 100%;
    display: block;
    margin: auto;
}
.form-modal-extend{
    padding: 0 15px;
    width: 90%;
    display: block;
    margin: auto;
}
.mt-10{
    margin-top: 10%;
}


.ui-widget.ui-widget-content {
    z-index: 9999;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}


/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 100px;
}

.table-kit-products {
    max-height: 292px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.add-quantity{
    float: left;
    margin: 6px;
}
.minus-quantity{
    float: left;
    margin: 6px;
}
.input-quantity{
    float: left;
    width: 32px;
    margin: 0 2px;
    text-align: center;
}

.modal-backdrop {
    display: none !important
}
.note{
    text-align: center;
    width: 100%;
    margin-top: 15px;
}
.datepicker-container{
    z-index: 9999 !important;
}

.popover.clockpicker-popover{
    opacity: 1 !important;
}
.error{
    color: red;
    text-align: center;
    display: block;
}

.swal2-confirm {
    background: #3ac47d !important;
}