@font-face {
  font-family: 'categories';
  src:  url('../font/categories/icomoon.eot?cu6tos');
  src:  url('../font/categories/icomoon.eot?cu6tos#iefix') format('embedded-opentype'),
    url('../font/categories/icomoon.ttf?cu6tos') format('truetype'),
    url('../font/categories/icomoon.woff?cu6tos') format('woff'),
    url('../font/categories/icomoon.svg?cu6tos#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cat-"], [class*=" cat-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'categories' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cat-ctg_1:before {
  content: "\e900";
}
.cat-ctg_2:before {
  content: "\e901";
}
.cat-ctg_3:before {
  content: "\e902";
}
.cat-ctg_4:before {
  content: "\e903";
}
.cat-ctg_5:before {
  content: "\e904";
}
.cat-ctg_6:before {
  content: "\e905";
}
.cat-ctg_7:before {
  content: "\e906";
}
.cat-ctg_8:before {
  content: "\e907";
}
.cat-ctg_9:before {
  content: "\e908";
}
.cat-ctg_10:before {
  content: "\e909";
}
.cat-ctg_11:before {
  content: "\e90a";
}
.cat-ctg_12:before {
  content: "\e90b";
}
.cat-ctg_13:before {
  content: "\e90c";
}
.cat-ctg_14:before {
  content: "\e90d";
}
.cat-ctg_15:before {
  content: "\e90e";
}
.cat-ctg_16:before {
  content: "\e90f";
}
.cat-ctg_17:before {
  content: "\e910";
}
.cat-ctg_18:before {
  content: "\e911";
}
.cat-ctg_19:before {
  content: "\e912";
}
.cat-ctg_20:before {
  content: "\e913";
}
.cat-ctg_21:before {
  content: "\e914";
}
.cat-ctg_22:before {
  content: "\e915";
}
.cat-ctg_23:before {
  content: "\e916";
}
.cat-ctg_24:before {
  content: "\e917";
}
.cat-ctg_25:before {
  content: "\e918";
}
.cat-ctg_26:before {
  content: "\e919";
}
.cat-ctg_27:before {
  content: "\e91a";
}
.cat-ctg_28:before {
  content: "\e91b";
}
.cat-ctg_29:before {
  content: "\e91c";
}
.cat-ctg_30:before {
  content: "\e91d";
}
.cat-ctg_31:before {
  content: "\e91e";
}
.cat-ctg_32:before {
  content: "\e91f";
}
.cat-ctg_33:before {
  content: "\e920";
}
.cat-ctg_34:before {
  content: "\e921";
}
.cat-ctg_35:before {
  content: "\e922";
}
.cat-ctg_36:before {
  content: "\e923";
}
.cat-ctg_37:before {
  content: "\e924";
}
.cat-ctg_38:before {
  content: "\e925";
}
.cat-ctg_39:before {
  content: "\e926";
}
.cat-ctg_40:before {
  content: "\e927";
}
.cat-ctg_41:before {
  content: "\e928";
}
.cat-ctg_42:before {
  content: "\e929";
}
.cat-ctg_43:before {
  content: "\e92a";
}
.cat-ctg_44:before {
  content: "\e92b";
}
.cat-ctg_45:before {
  content: "\e92c";
}
.cat-ctg_46:before {
  content: "\e92d";
}
.cat-ctg_47:before {
  content: "\e92e";
}
.cat-ctg_48:before {
  content: "\e92f";
}
.cat-ctg_49:before {
  content: "\e930";
}
.cat-ctg_50:before {
  content: "\e931";
}
.cat-ctg_51:before {
  content: "\e932";
}
