/*footer*/
@font-face {
    font-family: categories;
    src: url(../font/categories.ttf);
  }
  @font-face {
    font-family: 'icomoon';
    src:  url('font/icomoon.eot?ldfn3g');
    src:  url('font/icomoon.eot?ldfn3g#iefix') format('embedded-opentype'),
      url('font/icomoon.ttf?ldfn3g') format('truetype'),
      url('font/icomoon.woff?ldfn3g') format('woff'),
      url('font/icomoon.svg?ldfn3g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

.footer-black{
    background-color: #ffffff;
}

.center-footer{
    text-align: center;
    line-height: 150%;
    font-size: 1em;
    width: 100%;
    position: relative;
    margin: auto;
}

.centrado{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.img-logo-login {
    display: block;
    margin: auto;
    width: 15%;
}



.copyright {
    text-align: center;
    line-height: 150%;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 2%;
    margin-top: 1rem;
    color: #170c66;
}
.d-none{
    display: none !important;
}

.active{
    display: block !important;
}
.hidden{
    display: none;
}

.center-panel{
    margin: auto;
    float: none;
}

.edit-button{
    float: right;
    position: relative;
    right: 20px;
    display: block;
}

.mt-3 {
    margin-top: 30px !important;
  }

  section{
    background: #ffffff;
  }

.center-btn{
    display: block;
    margin: auto;
    width: 128px;
}

.scroll-text {
    width: 100%;
    max-height: 720px;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
    padding: 2%;
    background: white;
}


@media only screen and (max-width:768px) {
    .img-logo-login {
        width: 50% !important;
    }
    .copyright {
        font-size: 0.8em;
    }
    .center-footer {
        font-size: 0.9em;
    }
    .verified-action {
        margin-top: 32px;
    }
    .inner-header-page {
        padding: 84px 0 50px;
    }
    .star-rating {
        top: 14px;
    }
}



.sttabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300
}

.sticon:before {
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    font-size: 20px;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.sttabs nav {
    text-align: center
}

.sttabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.sttabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1
}

.sttabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5
}

.sttabs nav a span {
    vertical-align: middle;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Rubik', sans-serif
}



.sttabs nav li.tab-current a {
    color: #ff7676
}

.content-wrap {
    background: #ffffff
}

.tabs-style-bar nav ul li a {
    margin: 0 2px;
    background-color: #f7fafc;
    color: #686868;
    padding: 5px 0;
    -webkit-transition: background-color 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s
}


.tabs-style-bar nav ul li a span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif
}

.tabs-style-bar nav ul li.tab-current a {
    background: #fb9678;
    color: #fff
}

.tabs-style-iconbox nav {
    background: #f7fafc
}

.tabs-style-iconbox nav ul li a {
    overflow: visible;
    padding: 25px 0;
    line-height: 1;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
    color: #313131
}

.tabs-style-iconbox nav ul li.tab-current {
    z-index: 1
}

.tabs-style-iconbox nav ul li.tab-current a {
    background: #2cabe3;
    color: #ffffff;
    -webkit-box-shadow: -1px 0 0 #ffffff;
    box-shadow: -1px 0 0 #ffffff
}

.tabs-style-iconbox nav ul li.tab-current a:after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-top-color: #2cabe3;
    content: '';
    pointer-events: none
}

.tabs-style-iconbox nav ul li:after,
.tabs-style-iconbox nav ul li:first-child:before {
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -1;
    width: 1px;
    height: 60%;
    content: ''
}

.tabs-style-iconbox nav ul li:first-child:before {
    right: auto;
    left: 0
}

.tabs-style-iconbox .sticon:before {
    display: block;
    margin: 0 0 0.25em 0
}

.tabs-style-underline nav {
    border: 1px solid rgba(120, 130, 140, 0.13)
}

.tabs-style-underline nav a {
    padding: 20px 0;
    border-left: 1px solid rgba(120, 130, 140, 0.13);
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
    color: #313131
}

.tabs-style-underline nav li:last-child a {
    border-right: 1px solid rgba(120, 130, 140, 0.13)
}

.tabs-style-underline nav li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: #fb9678;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0)
}

.tabs-style-underline nav li.tab-current a:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.tabs-style-linetriangle nav a {
    overflow: visible;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s
}

.tabs-style-linetriangle nav a span {
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    padding: 15px 0;
    color: #313131
}

.tabs-style-linetriangle nav li.tab-current a:after,
.tabs-style-linetriangle nav li.tab-current a:before {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: '';
    pointer-events: none
}

.tabs-style-linetriangle nav li.tab-current a:after {
    margin-left: -10px;
    border-width: 10px;
    border-top-color: #ffffff
}

.tabs-style-linetriangle nav li.tab-current a span {
    color: #ff7676
}

.tabs-style-linetriangle nav li.tab-current a:before {
    margin-left: -11px;
    border-width: 11px;
    border-top-color: rgba(0, 0, 0, 0.2)
}

.tabs-style-iconfall {
    overflow: visible
}

.tabs-style-iconfall nav {
    max-width: 1200px;
    margin: 0 auto
}

.tabs-style-iconfall nav a {
    display: inline-block;
    overflow: visible;
    padding: 1em 0 2em;
    color: #313131;
    line-height: 1;
    -webkit-transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1)
}

.tabs-style-iconfall nav a:focus,
.tabs-style-iconfall nav a:hover {
    color: #ff7676
}

.tabs-style-iconfall nav li.tab-current a {
    color: #ff7676
}

.tabs-style-iconfall nav li:before {
    position: absolute;
    bottom: 1em;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 4px;
    background: #ff7676;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1)
}

.tabs-style-iconfall nav li.tab-current:before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}

.tabs-style-iconfall nav li.tab-current .sticon:before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.tabs-style-iconfall .sticon:before {
    display: block;
    margin: 0 0 0.35em;
    opacity: 0;
    font-size: 24px;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    -o-transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    pointer-events: none
}

@media screen and (max-width:58em) {
    .tabs-style-iconfall nav li .sticon:before {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.tabs-style-linemove nav {
    background: #f7fafc
}

.tabs-style-linemove nav li:last-child:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #ff7676;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s
}

.tabs-style-linemove nav li:first-child.tab-current~li:last-child:before {
    -webkit-transform: translate3d(-400%, 0, 0);
    transform: translate3d(-400%, 0, 0)
}

.tabs-style-linemove nav li:nth-child(2).tab-current~li:last-child:before {
    -webkit-transform: translate3d(-300%, 0, 0);
    transform: translate3d(-300%, 0, 0)
}

.tabs-style-linemove nav li:nth-child(3).tab-current~li:last-child:before {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0)
}

.tabs-style-linemove nav li:nth-child(4).tab-current~li:last-child:before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

.tabs-style-linemove nav a {
    padding: 30px 0;
    color: #313131;
    line-height: 1;
    -webkit-transition: color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, -webkit-transform 0.3s;
    -o-transition: color 0.3s, transform 0.3s;
    transition: color 0.3s, transform 0.3s;
    transition: color 0.3s, transform 0.3s, -webkit-transform 0.3s
}

.tabs-style-linemove nav li.tab-current a {
    color: #ff7676
}

.tabs-style-line nav a {
    padding: 20px 10px;
    -webkit-box-shadow: inset 0 -2px #d1d3d2;
    box-shadow: inset 0 -2px #d1d3d2;
    color: #686868;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    -webkit-transition: color 0.3s, box-shadow 0.3s;
    -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
    transition: color 0.3s, -webkit-box-shadow 0.3s;
    -o-transition: color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s
}

.tabs-style-line nav a:focus,
.tabs-style-line nav a:hover {
    -webkit-box-shadow: inset 0 -2px #74777b;
    box-shadow: inset 0 -2px #74777b
}

.tabs-style-line nav li.tab-current a {
    -webkit-box-shadow: inset 0 -2px #ff7676;
    box-shadow: inset 0 -2px #ff7676;
    color: #ff7676
}

@media screen and (max-width:58em) {
    .tabs-style-line nav ul {
        display: block;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .tabs-style-line nav ul li {
        display: block;
        -webkit-flex: none;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }
}

.tabs-style-circle {
    overflow: visible
}

.tabs-style-circle nav li {
    margin-top: 60px!important;
    margin-bottom: 60px!important
}

.tabs-style-circle nav li:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -60px;
    width: 120px;
    height: 120px;
    border: 1px solid #10c18e;
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    -o-transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.tabs-style-circle nav a {
    overflow: visible;
    color: #2b2b2b;
    font-weight: 500;
    font-size: 14;
    line-height: 1.1;
    -webkit-transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1)
}

.tabs-style-circle nav a span {
    display: inline-block
}



.tabs-style-circle nav li.tab-current a {
    color: #10c18e;
}

.tabs-style-circle nav li.tab-current a span {
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0)
}

@media screen and (max-width:58em) {
    .tabs-style-circle nav li:before {
        margin: -40px 0 0 -40px;
        width: 80px;
        height: 80px
    }
}

.tabs-style-circle nav li.tab-current:before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}

.tabs-style-circle .icon:before,
.tabs-style-circle nav a span {
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.3s cubic-bezier(0.7, 0, 0.3, 1)
}

.tabs-style-circle .sticon:before {
    display: block;
    margin: 0;
    pointer-events: none
}

.tabs-style-circle nav li.tab-current .sticon:before {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0)
}

.tabs-style-shape {
    max-width: 1200px;
    margin: 0 auto
}

.tabs-style-shape nav ul li {
    margin: 0 3em
}

.tabs-style-shape nav ul li:first-child {
    margin-left: 0
}

.tabs-style-shape nav ul li.tab-current {
    z-index: 1
}

.tabs-style-shape nav li a {
    overflow: visible;
    margin: 0 -3em 0 0;
    padding: 0;
    color: #fff;
    font-weight: 500
}

.tabs-style-shape nav li a svg {
    position: absolute;
    left: 100%;
    margin: 0;
    width: 3em;
    height: 100%;
    fill: #bdc2c9
}

.tabs-style-shape nav li:first-child a span {
    padding-left: 2em;
    border-radius: 30px 0 0 0
}

.tabs-style-shape nav li:last-child a span {
    padding-right: 2em;
    border-radius: 0 30px 0 0
}

.tabs-style-shape nav li:last-child a svg,
.tabs-style-shape nav li a svg:nth-child(2) {
    right: 100%;
    left: auto;
    -webkit-transform: scale3d(-1, 1, 1);
    transform: scale3d(-1, 1, 1)
}

.tabs-style-shape nav li a span {
    display: block;
    overflow: hidden;
    padding: 0.65em 0;
    background-color: #bdc2c9;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap
}

.tabs-style-shape nav li a:hover span {
    background-color: #ff7676
}

.tabs-style-shape nav li a:hover svg {
    fill: #ff7676
}

.tabs-style-shape nav li a svg {
    pointer-events: none
}

.tabs-style-shape nav li a svg use {
    pointer-events: auto
}

.tabs-style-shape nav li.tab-current a span,
.tabs-style-shape nav li.tab-current a svg {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}

.tabs-style-shape nav li.tab-current a span {
    background: #f7fafc
}

.tabs-style-shape nav li.tab-current a svg {
    fill: #f7fafc
}

.tabs-style-shape .content-wrap {
    background: #f7fafc
}

@media screen and (max-width:58em) {
    .tabs-style-shape nav ul {
        display: block;
        padding-top: 1.5em
    }
    .tabs-style-shape nav ul li {
        display: block;
        margin: -1.25em 0 0;
        -webkit-flex: none;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }
    .tabs-style-shape nav ul li a {
        margin: 0
    }
    .tabs-style-shape nav ul li svg {
        display: none
    }
    .tabs-style-shape nav ul li a span {
        padding: 1.25em 0 2em!important;
        border-radius: 30px 30px 0 0!important;
        -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
        line-height: 1
    }
    .tabs-style-shape nav ul li:last-child a span {
        padding: 1.25em 0!important
    }
    .tabs-style-shape nav ul li.tab-current {
        z-index: 1
    }
}

.tabs-style-linebox nav ul li {
    margin: 0 0.5em;
    -webkit-flex: none;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.tabs-style-linebox nav a {
    padding: 0 1.5em;
    color: #313131;
    font-weight: 500;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s
}

.tabs-style-linebox nav a:focus,
.tabs-style-linebox nav a:hover {
    color: #ff7676
}

.tabs-style-linebox nav li.tab-current a {
    color: #ffffff
}

.tabs-style-linebox nav a:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #d2d8d6;
    content: '';
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, -webkit-transform 0.3s;
    -o-transition: background-color 0.3s, transform 0.3s;
    transition: background-color 0.3s, transform 0.3s;
    transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
    transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0)
}

.tabs-style-linebox nav li.tab-current a:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.tabs-style-linebox nav a:focus:after,
.tabs-style-linebox nav a:hover:after,
.tabs-style-linebox nav li.tab-current a:after {
    background: #ff7676
}

@media screen and (max-width:58em) {
    .tabs-style-linebox nav ul {
        display: block;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .tabs-style-linebox nav ul li {
        display: block;
        -webkit-flex: none;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }
}

.tabs-style-flip {
    max-width: 1200px;
    margin: 0 auto
}

.tabs-style-flip nav a {
    padding: 0.5em 0;
    color: #313131;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s
}

.tabs-style-flip nav a:focus,
.tabs-style-flip nav a:hover {
    color: #ff7676
}

.tabs-style-flip nav a span {
    text-transform: uppercase;
    letter-spacing: 1px
}

.tabs-style-flip nav a:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    content: '';
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
    -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-perspective-origin: 50% 100%;
    perspective-origin: 50% 100%
}

.tabs-style-flip nav li.tab-current a {
    color: #ff7676
}

.tabs-style-flip nav li.tab-current a:after {
    background-color: #f7fafc;
    -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(900px) rotate3d(1, 0, 0, 0deg)
}

.tabs-style-flip .content-wrap {
    background: #f7fafc
}

.tabs-style-circlefill {
    max-width: 800px;
    border: 1px solid #ff7676;
    margin: 0 auto
}

.tabs-style-circlefill nav ul li {
    overflow: hidden;
    border-right: 1px solid #ff7676
}

.tabs-style-circlefill nav li a {
    padding: 1.5em 0;
    color: #fff;
    font-size: 1.25em
}

.tabs-style-circlefill nav li:first-child {
    border-left: none
}

.tabs-style-circlefill nav li:last-child {
    border: none
}

.tabs-style-circlefill nav li:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    width: 80px;
    height: 80px;
    border: 1px solid #ff7676;
    border-radius: 50%;
    background: #ff7676;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s
}

.tabs-style-circlefill nav li.tab-current:before {
    -webkit-transform: scale3d(2.5, 2.5, 1);
    transform: scale3d(2.5, 2.5, 1)
}

.tabs-style-circlefill nav a {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s
}

.tabs-style-circlefill nav a span {
    display: none
}

.tabs-style-circlefill nav li.tab-current a {
    color: #ffffff
}

.tabs-style-circlefill .icon:before {
    display: block;
    margin: 0;
    pointer-events: none
}

.tabs-style-circlefill .content-wrap {
    border-top: 1px solid #ff7676
}


.blu-btn {
    background: #077584;
}


.content-wrap {
    position: relative
}

.content-wrap section {
    background: white;
    display: none;
    margin: 0 auto;
    padding: 25px;
    min-height: 150px;

}

.content-wrap section p {
    margin: 0;
    padding: 0.75em 0;
}

.content-wrap section.content-current {
    display: block
}

.no-js .content-wrap section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.tabs-style-circle .sticon:before {
    display: block;
    margin: 0;
    pointer-events: none;
}

.sticon:before {
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    font-size: 20px;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tabs-style-circle nav li:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -60px;
    width: 120px;
    height: 120px;
    border: 1px solid #077584;
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    -o-transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.tabs-style-circle nav li.tab-current:before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.card-errors{
    color: red;
    font-weight: 700;
}

.stars .fa.fill {
    color: #febe42;
}
.d-block{
    display: block;
}
.fade{
    background: #000000b0;
    opacity: 1 !important;
}
#myMap {
    padding: 10px;
    height: 350px;
    width: auto;
}

.modal-dialog-centered{
    max-width: 500px;
    margin: 16.75rem auto;
}


.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}
.mb-1{
    margin-bottom: 1em;
}

.fix-btn{
    top:-7px;
}

.gm-ui-hover-effect{
    top: 2px !important;
    right: 2px !important;
}

.gm-style .gm-style-iw-c {
    border-radius: 25px !important;
}

.dropdown-menu {
    left: initial !important;
    right: unset !important;
}

span.process-img {
    margin: 15px auto 0;
    background: white;
    border-radius: 50%;
}
.icon-button{
    font-size: 3.5em;
    position: relative;
    top: 14px;
    right: 0;
    color: gray;
    cursor: pointer;
}
.icon-active{
    color: white !important;
}

.progress-active{
    background: #077584 !important;
}

.process-img:hover {
    background: #077584 !important;

}

.progress-active .icon-button{
    color: white !important;

}

.process-img:hover .icon-button {
    color: white !important;

}

.cat-photo {
    font-size: 3em;
    position: relative;
    top: 18px;
    right: 0;
    color: white;
    cursor: pointer;
}
.stars{
    top: 56px;
}

.cat-photo-detail {
    font-size: 4.5em;
    position: relative;
    top: 27px;
    color: white;
    cursor: pointer;
}

.tg-warning{
    background: rgba(255, 115, 0, 0.733);
}

.tg-cancel{
    background: red;

}

.tg-success{
    background: #10c18e;
}
.tg-finish{
    background: #7f807f;
}

.notify {
    position: relative;
    margin-top: -30px;
}

.notify .point {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #7bcef3;
    position: absolute;
    right: -2px;
    top: 2px;
}

.fix-drop-menu{
    width: 300px !important;
    padding: 10px !important;
}

.cursor{
    cursor: pointer;
}

.mng-company-action i.fa-edit {
    color: #11b719;
}
.mng-company-action i {
    font-size: 24px;
    padding: 0 10px;
}

.fa-thumbs-down:hover{
    color: red !important;
    transform: scale(1.5);
}

.fa-thumbs-up:hover{
    transform: scale(1.5);
}

.mng-company-action i.fa-trash-o {
    color: #ff9800;
}
.mng-company-action i {
    font-size: 20px;
    padding: 0 5px;
}

.fix-section-background{
    background: #efefef;
}
.notification-box {
    position: fixed;
    z-index: 999;
    top: 18px;
    right: 58px;
    width: 50px;
    height: 50px;
    text-align: center;
  }
  .notification-bell {
    animation: bell 1s 1s both infinite;
  }
  .notification-bell * {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 15px #fff;
  }
  .bell-top {
    width: 6px;
    height: 6px;
    border-radius: 3px 3px 0 0;
  }
  .bell-middle {
    width: 25px;
    height: 25px;
    margin-top: -1px;
    border-radius: 12.5px 12.5px 0 0;
  }
  .bell-bottom {
    position: relative;
    z-index: 0;
    width: 32px;
    height: 2px;
  }
  .bell-bottom::before,
  .bell-bottom::after {
    content: '';
    position: absolute;
    top: -4px;
  }
  .bell-bottom::before {
    left: 1px;
    border-bottom: 4px solid #fff;
    border-right: 0 solid transparent;
    border-left: 4px solid transparent;
  }
  .bell-bottom::after {
    right: 1px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid transparent;
    border-left: 0 solid transparent;
  }
  .bell-rad {
    width: 8px;
    height: 4px;
    margin-top: 2px;
    border-radius: 0 0 4px 4px;
    animation: rad 1s 2s both infinite;
  }

  .stop-anim-bell{
    animation: none !important;
  }

  .notification-count {
    position: absolute;
    z-index: 1;
    top: -6px;
    right: -6px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    border-radius: 50%;
    background-color: #10c18e;
    color: #fff;
    animation: zoom 3s 3s both infinite;
  }
  @keyframes bell {
    0% { transform: rotate(0); }
    10% { transform: rotate(30deg); }
    20% { transform: rotate(0); }
    80% { transform: rotate(0); }
    90% { transform: rotate(-30deg); }
    100% { transform: rotate(0); }
  }
  @keyframes rad {
    0% { transform: translateX(0); }
    10% { transform: translateX(6px); }
    20% { transform: translateX(0); }
    80% { transform: translateX(0); }
    90% { transform: translateX(-6px); }
    100% { transform: translateX(0); }
  }
  @keyframes zoom {
    0% { opacity: 0; transform: scale(0); }
    10% { opacity: 1; transform: scale(1); }
    50% { opacity: 1; }
    51% { opacity: 0; }
    100% { opacity: 0; }
  }
  @keyframes moon-moving {
    0% {
      transform: translate(-200%, 600%);
    }
    100% {
      transform: translate(800%, -200%);
    }
  }

  .nav-trans{
    background: #ffffff00 !important;
    border-bottom: none;
  }

  .pointer{
      cursor: pointer;
  }

  

@media only screen and (min-width: 1024px){
    nav .nav-trans.navbar.bootsnav.navbar-light.no-background.white .attr-nav>ul>li>a, nav.navbar.bootsnav.navbar-light.no-background.white ul.nav>li>a, nav.navbar.bootsnav.navbar-light.white .attr-nav>ul>li>a, nav.navbar.bootsnav.navbar-light.white ul.nav>li>a {
        color: #fdfeff !important;
    }
    nav .nav-trans.navbar.bootsnav.navbar-light.no-background.white .attr-nav>ul>li>a, nav.navbar.bootsnav.navbar-light.no-background.white ul.nav>li>a, nav.navbar.bootsnav.navbar-light.white .attr-nav>ul>li>a, nav.navbar.bootsnav.navbar-light.white ul.nav>li>a i {
        color: #ffffff !important;
    }
}


.vertical-time-simple .vertical-timeline-element {
    margin: 0;
}
.vertical-timeline-element {
    position: relative;
    margin: 0 0 1rem !important;
    padding: 1px 20px;
}

.dot-success .vertical-timeline-element-icon {
    background: #3ac47d;
}
.vertical-timeline-element-icon {
    height: 14px;
    width: 14px;
    background: #e9ecef;
    position: absolute;
    left: 15px;
    top: 10px;
    display: block;
    border-radius: 20px;
}

.menu-notification{
    position: absolute;
    will-change: transform;
    top: 80px;
    right: 60px !important;
    transform: translate3d(0px, 33px, 0px);
    position: fixed;
}

.dropdown-menu .dropdown-menu-header,
.dropdown-menu .menu-header-image,
.dropdown-menu .dropdown-menu-header-inner {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}

.dropdown-menu-header {
  color: #fff;
  margin-top: -0.65rem;
  margin-bottom: .65rem;
  position: relative;
  z-index: 6;
}

.dropdown-menu-header .dropdown-menu-header-inner {
  margin: -1px -1px 0;
  padding: 1.2rem .5rem;
  position: relative;
}

.dropdown-menu-header .menu-header-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 8;
  opacity: 1;
  filter: grayscale(80%);
  background-size: cover;
}

.dropdown-menu-header .menu-header-content {
  text-align: center;
  position: relative;
  z-index: 10
}

.dropdown-menu-header .menu-header-content.text-left {
  padding-left: .5rem
}

.dropdown-menu-header .menu-header-content.btn-pane-right {
  padding-left: .5rem;
  padding-right: .5rem;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: left
}

.dropdown-menu-header .menu-header-content.btn-pane-right .menu-header-btn-pane {
  margin: 0 0 0 auto
}

.dropdown-menu-header .menu-header-content .menu-header-btn-pane {
  margin-top: 10px;
  margin-bottom: 3px
}

.dropdown-menu-header+.grid-menu {
  margin-top: -.65rem
}

.menu-header-title {
  font-size: 1.8rem;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.menu-header-subtitle {
  font-size: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 5px 0 0;
}

.bg-deep-blue {
    background-image: linear-gradient(120deg, #6ac7d4 0%, #10c18e 100%) !important;
}

.vertical-without-time .vertical-timeline-element-content {
    margin-left: 36px;
}

.vertical-timeline-element-content {
    position: relative;
    margin-left: 32px;
    font-size: .8rem;
}

.vertical-time-simple .vertical-timeline-element-icon::after {
    content: '';
    position: absolute;
    background: #fff;
    left: 50%;
    top: 50%;
    margin: -4px 0 0 -4px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 20px;
}

.badge {
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    min-width: 19px;
}

.badge {
    display: inline-block;
    padding: .5em .8em;
    font-size: 0.7em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2.25rem;
    top: 20px;
    left: 15px;
    position: relative;
}

.vertical-time-simple .timeline-title {
    font-weight: normal;
    padding: 0
  }
  
.d-inline-block{
    display: inline-block;
}

.header-details ul {
    padding: 0;
    margin: 0 0 -7px;
    list-style: none;
    line-height: 24px
}

.start-details-u {
    padding: 0;
    margin: 0 0 -7px;
    list-style: none;
    line-height: 24px
}

.header-details li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 12px
}

.start-details-2{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 12px;
}

.mx-img {
    height: 16px;
    border-radius: 3px;
    position: relative;
    top: -1px;
    display: inline-block;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    margin-right: 5px;
    cursor: default
}

.d-inline-grid{
    display: inline-grid;
}


padding:0;
overflow: visible;
}
.detail-desc .form-control::-moz-placeholder{color:#6a7884;opacity:1;}
.detail-desc .form-control:-ms-input-placeholder{color:#6a7884;}
.detail-desc .form-control::-webkit-input-placeholder{color:#6a7884;}


.ur-detail-wrap.top-lay {
	width: 100%;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	padding:2.5em 2em;
	border-radius:6px;
	-webkit-transform: translateY(-80px);
	-o-transform: translateY(-80px);
	transform: translateY(-80px);
	background:#ffffff;
	border-bottom: 3px solid #10c18e;
	box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
}
.ur-detail-wrap.create-kit {
	-webkit-transform: translateY(-80px);
	-o-transform: translateY(-80px);
	transform: translateY(-80px);
	background:#ffffff;
	padding:0 2em;
	border-radius:6px;
	border-bottom:3px solid #11b719;
	box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
}
.ur-detail-wrap {
	width: 100%;
	display: block;
	position: relative;
	justify-content: center;
	align-items: center;
	padding:0 2em 2.5em 2em;
	border-radius:6px;
	background:#ffffff;
	box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
}

.sidebar-widgets {
    margin-bottom: 30px;
}
.ur-detail-box {
    display: flex;
	align-items: center;
    flex: 1;
}
.ur-thumb {
}
.ur-thumb {display: inline-block;padding: 0 20px;line-height: 140px;float: left;}
.ur-title {
    margin-bottom: 3px;
}
.ur-location {
    margin-bottom: 5px;
}
.rateing i {
    color: #d4d5dc;
}
.rateing i.filled {
    color: #ff9b20;
}
.ur-detail-wrap-header {
    padding: 18px 0 10px 0;
    border-bottom: 1px solid #e0dfe6;
    margin-bottom: 1.5em;
}
ul.ove-detail-list {
    margin: 0;
    padding: 0;
}
ul.ove-detail-list li {
    list-style: none;
    margin-bottom: 1.5em;
    padding: 0;
}
ul.ove-detail-list li:last-child{
	margin-bottom:0;
}
ul.ove-detail-list li i {
    font-size: 27px;
    float: left;
    margin-right: 10px;
    color: #a4abb5;
}
ul.ove-detail-list li h5 {
    margin-bottom: 2px;
}
.detail-status {
    position: absolute;
    right: 15px;
    top: 15px;
}
.detail-status span {
    color: #11b719;
    background: rgba(7, 177, 7,0.2);
	font-family: 'Montserrat', sans-serif;
	text-transform:capitalize;
    padding: 5px 25px;
    border-radius:2px;
}
.detail-pic{display: block;width:140px;background:#ffffff;border: 1px solid #10c18e;height:140px;border-radius:50%;margin:0;padding: 9px;margin:0 auto;position:relative;-webkit-transform: translateY(-50px);-o-transform: translateY(-50px);transform: translateY(-50px);}

.detail-pic img {
width: 120px;
height:120px;
margin:auto;
border-radius:50%;
}
a.detail-edit {
position: absolute;
left: 44%;
bottom:-12px;
}
a.detail-edit i {width: 30px;height: 30px;position: relative;background: #10c18e;border-radius: 50%;line-height: 30px;text-align: center;color: #ffffff;}

.ur-thumb img{
    width: 120px;
    margin-top: 10px;
    border-radius: 50%;
    height: 120px;
}

ul.ove-detail-list {
    margin: 0;
    padding: 0;
}
ul.ove-detail-list li {
    list-style: none;
    margin-bottom: 1.5em;
    padding: 0;
}
ul.ove-detail-list li:last-child{
	margin-bottom:0;
}
ul.ove-detail-list li i {
    font-size: 23px;
    float: left;
    margin-right: 10px;
    color: #10c18e;
}
ul.ove-detail-list li h5 {
    margin-bottom: 2px;
}

.ur-detail-wrap {
    width: 100%;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 2em 2.5em 2em;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

@font-face {
    font-family: 'Sigmar One';
    font-style: normal;
    font-weight: 400;
    src: local('Sigmar One Regular'), local('SigmarOne-Regular'), url(https://fonts.gstatic.com/s/sigmarone/v9/co3DmWZ8kjZuErj9Ta3do6Tpow.ttf) format('truetype');
  }

  .btn-gray{
    background: gray;
    border-color: gray;
    color: #fff;
    border-radius: 25px;
  }

  .congrats-cotent{
    position: fixed;
    top: calc(50% - 100px);
    width: 100%;
    height: 252px;
    background: white;
    z-index: 99;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  }

  .showPerfil{
    margin-top: 60px;
  }
  
  #congrats {
    position: absolute;
    top: 65px;
    width: 550px;
    height: 100px;
    line-height: 1;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  #title {
    transform-origin: 50% 50%;
    font-size: 50px;
    font-family: 'Sigmar One', cursive;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    color: #10c18e;
  }
  .particle {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1;
    font-size: 30px;
  }
  .star {
    color: #ffcc00;
  }
  .blob {
    background: #d5f2ff;
    background: rgba(255, 204, 0, 0.25);
    border-radius: 50%;
    display: block;
  }
  
  .quali-time i {
      font-size: 12px;
  }
  .quali-time {
    right: 0;
    border-radius: 2px 0 0 2px;
    top: 7px;
    z-index: 2;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    position: absolute;
    padding: 10px 14px 10px 10px;
    text-transform: uppercase;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.part-time {
    background: #f5e204;
}

@media (min-width: 576px){
    .modal-dialog-centered {
        min-height: calc(50% - 3.5rem);
    top: calc(50% - 250px);

    }
}

.form-stars {
    margin: 0 auto;
    padding: 0 42px;
  }
  
  .form-stars p {
    text-align: center;
  }
  
  .form-stars label {
    font-size: 3em;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .label-star {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    margin: auto;
    margin-bottom: 16px;
  }
  
  .label-star:hover,
  .label-star:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ .label-star {
    color: orange;
  }

  .user-stars{
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px auto;
    background: #10c18e;
  }

  .user-stars img{
    border-radius: 50%;
    height: 120px;
  }

  .fix-stars{
    position: absolute !important;
    bottom: 3.5em !important;
    left: 1em !important;
    top: 130px;
  }

  .fix-nav-bottom{
    background: #1c2733 !important;
  }

.logo-footer{
    width: 252px;
}

.alert-complete{
    text-align: center;
    margin: 2em;
    font-size: 20px;
}


/*footer*/
@font-face {
    font-family: categories;
    src: url(../font/categories.ttf);
  }
  @font-face {
    font-family: 'icomoon';
    src:  url('font/icomoon.eot?ldfn3g');
    src:  url('font/icomoon.eot?ldfn3g#iefix') format('embedded-opentype'),
      url('font/icomoon.ttf?ldfn3g') format('truetype'),
      url('font/icomoon.woff?ldfn3g') format('woff'),
      url('font/icomoon.svg?ldfn3g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

.footer-black{
    background-color: #ffffff;
}

.center-footer{
    text-align: center;
    line-height: 150%;
    font-size: 1em;
    width: 100%;
    position: relative;
    margin: auto;
}

.centrado{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.img-logo-login {
    display: block;
    margin: auto;
    width: 15%;
}



.copyright {
    text-align: center;
    line-height: 150%;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 2%;
    margin-top: 1rem;
    color: #170c66;
}
.d-none{
    display: none !important;
}

.active{
    display: block !important;
}
.hidden{
    display: none;
}

.center-panel{
    margin: auto;
    float: none;
}

.edit-button{
    float: right;
    position: relative;
    right: 20px;
    display: block;
    top: 15px;
}

.mt-3 {
    margin-top: 30px !important;
  }

  section{
    background: #eeeced;
  }

.center-btn{
    display: block;
    margin: auto;
    width: 128px;
}

.scroll-text {
    width: 100%;
    max-height: 720px;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
    padding: 2%;
    background: white;
}


@media only screen and (max-width:768px) {
    .img-logo-login {
        width: 50% !important;
    }
    .copyright {
        font-size: 0.8em;
    }
    .center-footer {
        font-size: 0.9em;
    }
    .verified-action {
        margin-top: 32px;
    }
    .inner-header-page {
        padding: 84px 0 50px;
    }
    .star-rating {
        top: 14px;
    }
}



.sttabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300
}

.sticon:before {
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    font-size: 20px;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.sttabs nav {
    text-align: center
}

.sttabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.sttabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1
}

.sttabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5
}

.sttabs nav a span {
    vertical-align: middle;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Rubik', sans-serif
}

.sttabs nav a:focus {
    outline: none
}

.sttabs nav li.tab-current a {
    color: #ff7676
}

.content-wrap {
    background: #ffffff
}

.tabs-style-bar nav ul li a {
    margin: 0 2px;
    background-color: #f7fafc;
    color: #686868;
    padding: 5px 0;
    -webkit-transition: background-color 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s
}

.tabs-style-bar nav ul li a:focus,
.tabs-style-bar nav ul li a:hover {
    color: #ff7676
}

.tabs-style-bar nav ul li a span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif
}

.tabs-style-bar nav ul li.tab-current a {
    background: #fb9678;
    color: #fff
}

.tabs-style-iconbox nav {
    background: #f7fafc
}

.tabs-style-iconbox nav ul li a {
    overflow: visible;
    padding: 25px 0;
    line-height: 1;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
    color: #313131
}

.tabs-style-iconbox nav ul li.tab-current {
    z-index: 1
}

.tabs-style-iconbox nav ul li.tab-current a {
    background: #2cabe3;
    color: #ffffff;
    -webkit-box-shadow: -1px 0 0 #ffffff;
    box-shadow: -1px 0 0 #ffffff
}

.tabs-style-iconbox nav ul li.tab-current a:after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-top-color: #2cabe3;
    content: '';
    pointer-events: none
}

.tabs-style-iconbox nav ul li:after,
.tabs-style-iconbox nav ul li:first-child:before {
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -1;
    width: 1px;
    height: 60%;
    content: ''
}

.tabs-style-iconbox nav ul li:first-child:before {
    right: auto;
    left: 0
}

.tabs-style-iconbox .sticon:before {
    display: block;
    margin: 0 0 0.25em 0
}

.tabs-style-underline nav {
    border: 1px solid rgba(120, 130, 140, 0.13)
}

.tabs-style-underline nav a {
    padding: 20px 0;
    border-left: 1px solid rgba(120, 130, 140, 0.13);
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
    color: #313131
}

.tabs-style-underline nav li:last-child a {
    border-right: 1px solid rgba(120, 130, 140, 0.13)
}

.tabs-style-underline nav li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: #fb9678;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0)
}

.tabs-style-underline nav li.tab-current a:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.tabs-style-linetriangle nav a {
    overflow: visible;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s
}

.tabs-style-linetriangle nav a span {
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    padding: 15px 0;
    color: #313131
}

.tabs-style-linetriangle nav li.tab-current a:after,
.tabs-style-linetriangle nav li.tab-current a:before {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: '';
    pointer-events: none
}

.tabs-style-linetriangle nav li.tab-current a:after {
    margin-left: -10px;
    border-width: 10px;
    border-top-color: #ffffff
}

.tabs-style-linetriangle nav li.tab-current a span {
    color: #ff7676
}

.tabs-style-linetriangle nav li.tab-current a:before {
    margin-left: -11px;
    border-width: 11px;
    border-top-color: rgba(0, 0, 0, 0.2)
}

.tabs-style-iconfall {
    overflow: visible
}

.tabs-style-iconfall nav {
    max-width: 1200px;
    margin: 0 auto
}

.tabs-style-iconfall nav a {
    display: inline-block;
    overflow: visible;
    padding: 1em 0 2em;
    color: #313131;
    line-height: 1;
    -webkit-transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1)
}

.tabs-style-iconfall nav a:focus,
.tabs-style-iconfall nav a:hover {
    color: #ff7676
}

.tabs-style-iconfall nav li.tab-current a {
    color: #ff7676
}

.tabs-style-iconfall nav li:before {
    position: absolute;
    bottom: 1em;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 4px;
    background: #ff7676;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1)
}

.tabs-style-iconfall nav li.tab-current:before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}

.tabs-style-iconfall nav li.tab-current .sticon:before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.tabs-style-iconfall .sticon:before {
    display: block;
    margin: 0 0 0.35em;
    opacity: 0;
    font-size: 24px;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    -o-transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    pointer-events: none
}

@media screen and (max-width:58em) {
    .tabs-style-iconfall nav li .sticon:before {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.tabs-style-linemove nav {
    background: #f7fafc
}

.tabs-style-linemove nav li:last-child:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #ff7676;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s
}

.tabs-style-linemove nav li:first-child.tab-current~li:last-child:before {
    -webkit-transform: translate3d(-400%, 0, 0);
    transform: translate3d(-400%, 0, 0)
}

.tabs-style-linemove nav li:nth-child(2).tab-current~li:last-child:before {
    -webkit-transform: translate3d(-300%, 0, 0);
    transform: translate3d(-300%, 0, 0)
}

.tabs-style-linemove nav li:nth-child(3).tab-current~li:last-child:before {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0)
}

.tabs-style-linemove nav li:nth-child(4).tab-current~li:last-child:before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

.tabs-style-linemove nav a {
    padding: 30px 0;
    color: #313131;
    line-height: 1;
    -webkit-transition: color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, -webkit-transform 0.3s;
    -o-transition: color 0.3s, transform 0.3s;
    transition: color 0.3s, transform 0.3s;
    transition: color 0.3s, transform 0.3s, -webkit-transform 0.3s
}

.tabs-style-linemove nav li.tab-current a {
    color: #ff7676
}

.tabs-style-line nav a {
    padding: 20px 10px;
    -webkit-box-shadow: inset 0 -2px #d1d3d2;
    box-shadow: inset 0 -2px #d1d3d2;
    color: #686868;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    -webkit-transition: color 0.3s, box-shadow 0.3s;
    -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
    transition: color 0.3s, -webkit-box-shadow 0.3s;
    -o-transition: color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s
}

.tabs-style-line nav a:focus,
.tabs-style-line nav a:hover {
    -webkit-box-shadow: inset 0 -2px #74777b;
    box-shadow: inset 0 -2px #74777b
}

.tabs-style-line nav li.tab-current a {
    -webkit-box-shadow: inset 0 -2px #ff7676;
    box-shadow: inset 0 -2px #ff7676;
    color: #ff7676
}

@media screen and (max-width:58em) {
    .tabs-style-line nav ul {
        display: block;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .tabs-style-line nav ul li {
        display: block;
        -webkit-flex: none;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }
}

.tabs-style-circle {
    overflow: visible
}

.tabs-style-circle nav li {
    margin-top: 60px!important;
    margin-bottom: 60px!important
}

.tabs-style-circle nav li:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -60px;
    width: 120px;
    height: 120px;
    border: 1px solid #10c18e;
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    -o-transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.tabs-style-circle nav a {
    overflow: visible;
    color: #2b2b2b;
    font-weight: 500;
    font-size: 14;
    line-height: 1.1;
    -webkit-transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1)
}

.tabs-style-circle nav a span {
    display: inline-block
}


.tabs-style-circle nav li.tab-current a {
    color: #10c18e;
}

.tabs-style-circle nav li.tab-current a span {
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0)
}

@media screen and (max-width:58em) {
    .tabs-style-circle nav li:before {
        margin: -40px 0 0 -40px;
        width: 80px;
        height: 80px
    }
}

.tabs-style-circle nav li.tab-current:before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}

.tabs-style-circle .icon:before,
.tabs-style-circle nav a span {
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.3s cubic-bezier(0.7, 0, 0.3, 1)
}

.tabs-style-circle .sticon:before {
    display: block;
    margin: 0;
    pointer-events: none
}

.tabs-style-circle nav li.tab-current .sticon:before {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0)
}

.tabs-style-shape {
    max-width: 1200px;
    margin: 0 auto
}

.tabs-style-shape nav ul li {
    margin: 0 3em
}

.tabs-style-shape nav ul li:first-child {
    margin-left: 0
}

.tabs-style-shape nav ul li.tab-current {
    z-index: 1
}

.tabs-style-shape nav li a {
    overflow: visible;
    margin: 0 -3em 0 0;
    padding: 0;
    color: #fff;
    font-weight: 500
}

.tabs-style-shape nav li a svg {
    position: absolute;
    left: 100%;
    margin: 0;
    width: 3em;
    height: 100%;
    fill: #bdc2c9
}

.tabs-style-shape nav li:first-child a span {
    padding-left: 2em;
    border-radius: 30px 0 0 0
}

.tabs-style-shape nav li:last-child a span {
    padding-right: 2em;
    border-radius: 0 30px 0 0
}

.tabs-style-shape nav li:last-child a svg,
.tabs-style-shape nav li a svg:nth-child(2) {
    right: 100%;
    left: auto;
    -webkit-transform: scale3d(-1, 1, 1);
    transform: scale3d(-1, 1, 1)
}

.tabs-style-shape nav li a span {
    display: block;
    overflow: hidden;
    padding: 0.65em 0;
    background-color: #bdc2c9;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap
}

.tabs-style-shape nav li a:hover span {
    background-color: #ff7676
}

.tabs-style-shape nav li a:hover svg {
    fill: #ff7676
}

.tabs-style-shape nav li a svg {
    pointer-events: none
}

.tabs-style-shape nav li a svg use {
    pointer-events: auto
}

.tabs-style-shape nav li.tab-current a span,
.tabs-style-shape nav li.tab-current a svg {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}

.tabs-style-shape nav li.tab-current a span {
    background: #f7fafc
}

.tabs-style-shape nav li.tab-current a svg {
    fill: #f7fafc
}

.tabs-style-shape .content-wrap {
    background: #f7fafc
}

@media screen and (max-width:58em) {
    .tabs-style-shape nav ul {
        display: block;
        padding-top: 1.5em
    }
    .tabs-style-shape nav ul li {
        display: block;
        margin: -1.25em 0 0;
        -webkit-flex: none;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }
    .tabs-style-shape nav ul li a {
        margin: 0
    }
    .tabs-style-shape nav ul li svg {
        display: none
    }
    .tabs-style-shape nav ul li a span {
        padding: 1.25em 0 2em!important;
        border-radius: 30px 30px 0 0!important;
        -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
        line-height: 1
    }
    .tabs-style-shape nav ul li:last-child a span {
        padding: 1.25em 0!important
    }
    .tabs-style-shape nav ul li.tab-current {
        z-index: 1
    }
}

.tabs-style-linebox nav ul li {
    margin: 0 0.5em;
    -webkit-flex: none;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.tabs-style-linebox nav a {
    padding: 0 1.5em;
    color: #313131;
    font-weight: 500;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s
}

.tabs-style-linebox nav a:focus,
.tabs-style-linebox nav a:hover {
    color: #ff7676
}

.tabs-style-linebox nav li.tab-current a {
    color: #ffffff
}

.tabs-style-linebox nav a:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #d2d8d6;
    content: '';
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, -webkit-transform 0.3s;
    -o-transition: background-color 0.3s, transform 0.3s;
    transition: background-color 0.3s, transform 0.3s;
    transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
    transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0)
}

.tabs-style-linebox nav li.tab-current a:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.tabs-style-linebox nav a:focus:after,
.tabs-style-linebox nav a:hover:after,
.tabs-style-linebox nav li.tab-current a:after {
    background: #ff7676
}

@media screen and (max-width:58em) {
    .tabs-style-linebox nav ul {
        display: block;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .tabs-style-linebox nav ul li {
        display: block;
        -webkit-flex: none;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }
}

.tabs-style-flip {
    max-width: 1200px;
    margin: 0 auto
}

.tabs-style-flip nav a {
    padding: 0.5em 0;
    color: #313131;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s
}

.tabs-style-flip nav a:focus,
.tabs-style-flip nav a:hover {
    color: #ff7676
}

.tabs-style-flip nav a span {
    text-transform: uppercase;
    letter-spacing: 1px
}

.tabs-style-flip nav a:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    content: '';
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
    -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-perspective-origin: 50% 100%;
    perspective-origin: 50% 100%
}

.tabs-style-flip nav li.tab-current a {
    color: #ff7676
}

.tabs-style-flip nav li.tab-current a:after {
    background-color: #f7fafc;
    -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(900px) rotate3d(1, 0, 0, 0deg)
}

.tabs-style-flip .content-wrap {
    background: #f7fafc
}

.tabs-style-circlefill {
    max-width: 800px;
    border: 1px solid #ff7676;
    margin: 0 auto
}

.tabs-style-circlefill nav ul li {
    overflow: hidden;
    border-right: 1px solid #ff7676
}

.tabs-style-circlefill nav li a {
    padding: 1.5em 0;
    color: #fff;
    font-size: 1.25em
}

.tabs-style-circlefill nav li:first-child {
    border-left: none
}

.tabs-style-circlefill nav li:last-child {
    border: none
}

.tabs-style-circlefill nav li:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    width: 80px;
    height: 80px;
    border: 1px solid #ff7676;
    border-radius: 50%;
    background: #ff7676;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s
}

.tabs-style-circlefill nav li.tab-current:before {
    -webkit-transform: scale3d(2.5, 2.5, 1);
    transform: scale3d(2.5, 2.5, 1)
}

.tabs-style-circlefill nav a {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s
}

.tabs-style-circlefill nav a span {
    display: none
}

.tabs-style-circlefill nav li.tab-current a {
    color: #ffffff
}

.tabs-style-circlefill .icon:before {
    display: block;
    margin: 0;
    pointer-events: none
}

.tabs-style-circlefill .content-wrap {
    border-top: 1px solid #ff7676
}


.blu-btn {
    background: #077584;
}


.content-wrap {
    position: relative
}

.content-wrap section {
    background: white;
    display: none;
    margin: 0 auto;
    padding: 25px;
    min-height: 150px;

}

.content-wrap section p {
    margin: 0;
    padding: 0.75em 0;
}

.content-wrap section.content-current {
    display: block
}

.no-js .content-wrap section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.tabs-style-circle .sticon:before {
    display: block;
    margin: 0;
    pointer-events: none;
}

.sticon:before {
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    font-size: 20px;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tabs-style-circle nav li:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -60px;
    width: 120px;
    height: 120px;
    border: 1px solid #077584;
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    -o-transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.tabs-style-circle nav li.tab-current:before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.card-errors{
    color: red;
    font-weight: 700;
}

.stars .fa.fill {
    color: #febe42;
}
.d-block{
    display: block;
}
.fade{
    background: #000000b0;
    opacity: 1 !important;
}
#myMap {
    padding: 10px;
    height: 350px;
    width: auto;
}

.modal-dialog-centered{
    max-width: 500px;
    margin: 16.75rem auto;
}


.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}
.mb-1{
    margin-bottom: 1em;
}

.fix-btn{
    top:-7px;
}

.gm-ui-hover-effect{
    top: 2px !important;
    right: 2px !important;
}

.gm-style .gm-style-iw-c {
    border-radius: 25px !important;
}

.dropdown-menu {
    left: initial !important;
    right: unset !important;
}

span.process-img {
    margin: 15px auto 0;
    background: white;
    border-radius: 50%;
}
.icon-button{
    font-size: 3.5em;
    position: relative;
    top: 14px;
    right: 0;
    color: gray;
    cursor: pointer;
}
.icon-active{
    color: white !important;
}

.progress-active{
    background: #077584 !important;
}

.process-img:hover {
    background: #077584 !important;

}

.progress-active .icon-button{
    color: white !important;

}

.process-img:hover .icon-button {
    color: white !important;

}

.cat-photo {
    font-size: 3em;
    position: relative;
    top: 18px;
    right: 0;
    color: white;
    cursor: pointer;
}
.stars{
    top: 56px;
}

.cat-photo-detail {
    font-size: 4.5em;
    position: relative;
    top: 27px;
    color: white;
    cursor: pointer;
}

.tg-warning{
    background: rgba(255, 115, 0, 0.733);
}

.tg-cancel{
    background: red;

}

.tg-success{
    background: #10c18e;
}

.notify {
    position: relative;
    margin-top: -30px;
}

.notify .point {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #7bcef3;
    position: absolute;
    right: -2px;
    top: 2px;
}

.fix-drop-menu{
    width: 300px !important;
    padding: 10px !important;
}

.cursor{
    cursor: pointer;
}

.mng-company-action i.fa-edit {
    color: #11b719;
}
.mng-company-action i {
    font-size: 24px;
    padding: 0 10px;
}

.fa-thumbs-down:hover{
    color: red !important;
    transform: scale(1.5);
}

.fa-thumbs-up:hover{
    transform: scale(1.5);
}

.mng-company-action i.fa-trash-o {
    color: #ff9800;
}
.mng-company-action i {
    font-size: 20px;
    padding: 0 5px;
}

.fix-section-background{
    background: #efefef;
}
.notification-box {
    position: fixed;
    z-index: 999;
    top: 18px;
    right: 58px;
    width: 50px;
    height: 50px;
    text-align: center;
  }
  .notification-bell {
    animation: bell 1s 1s both infinite;
  }
  .notification-bell * {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 15px #fff;
  }
  .bell-top {
    width: 6px;
    height: 6px;
    border-radius: 3px 3px 0 0;
  }
  .bell-middle {
    width: 25px;
    height: 25px;
    margin-top: -1px;
    border-radius: 12.5px 12.5px 0 0;
  }
  .bell-bottom {
    position: relative;
    z-index: 0;
    width: 32px;
    height: 2px;
  }
  .bell-bottom::before,
  .bell-bottom::after {
    content: '';
    position: absolute;
    top: -4px;
  }
  .bell-bottom::before {
    left: 1px;
    border-bottom: 4px solid #fff;
    border-right: 0 solid transparent;
    border-left: 4px solid transparent;
  }
  .bell-bottom::after {
    right: 1px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid transparent;
    border-left: 0 solid transparent;
  }
  .bell-rad {
    width: 8px;
    height: 4px;
    margin-top: 2px;
    border-radius: 0 0 4px 4px;
    animation: rad 1s 2s both infinite;
  }

  .stop-anim-bell{
    animation: none !important;
  }

  .notification-count {
    position: absolute;
    z-index: 1;
    top: -6px;
    right: -6px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    border-radius: 50%;
    background-color: #10c18e;
    color: #fff;
    animation: zoom 3s 3s both infinite;
  }
  @keyframes bell {
    0% { transform: rotate(0); }
    10% { transform: rotate(30deg); }
    20% { transform: rotate(0); }
    80% { transform: rotate(0); }
    90% { transform: rotate(-30deg); }
    100% { transform: rotate(0); }
  }
  @keyframes rad {
    0% { transform: translateX(0); }
    10% { transform: translateX(6px); }
    20% { transform: translateX(0); }
    80% { transform: translateX(0); }
    90% { transform: translateX(-6px); }
    100% { transform: translateX(0); }
  }
  @keyframes zoom {
    0% { opacity: 0; transform: scale(0); }
    10% { opacity: 1; transform: scale(1); }
    50% { opacity: 1; }
    51% { opacity: 0; }
    100% { opacity: 0; }
  }
  @keyframes moon-moving {
    0% {
      transform: translate(-200%, 600%);
    }
    100% {
      transform: translate(800%, -200%);
    }
  }

  .nav-trans{
    background: #ffffff00 !important;
    border-bottom: none;
  }

  .pointer{
      cursor: pointer;
  }

  

@media only screen and (min-width: 1024px){
    nav .nav-trans.navbar.bootsnav.navbar-light.no-background.white .attr-nav>ul>li>a, nav.navbar.bootsnav.navbar-light.no-background.white ul.nav>li>a, nav.navbar.bootsnav.navbar-light.white .attr-nav>ul>li>a, nav.navbar.bootsnav.navbar-light.white ul.nav>li>a {
        color: #fdfeff !important;
    }
    nav .nav-trans.navbar.bootsnav.navbar-light.no-background.white .attr-nav>ul>li>a, nav.navbar.bootsnav.navbar-light.no-background.white ul.nav>li>a, nav.navbar.bootsnav.navbar-light.white .attr-nav>ul>li>a, nav.navbar.bootsnav.navbar-light.white ul.nav>li>a i {
        color: #ffffff !important;
    }
}


.vertical-time-simple .vertical-timeline-element {
    margin: 0;
}
.vertical-timeline-element {
    position: relative;
    margin: 0 0 1rem !important;
    padding: 1px 20px;
    border-bottom: 1px solid #cacaca;
}

.dot-success .vertical-timeline-element-icon {
    background: #3ac47d;
}
.vertical-timeline-element-icon {
    height: 14px;
    width: 14px;
    background: #e9ecef;
    position: absolute;
    left: 15px;
    top: 10px;
    display: block;
    border-radius: 20px;
}

.menu-notification{
    position: absolute;
    will-change: transform;
    top: 80px;
    right: 60px !important;
    transform: translate3d(0px, 33px, 0px);
    position: fixed;
}

.dropdown-menu .dropdown-menu-header,
.dropdown-menu .menu-header-image,
.dropdown-menu .dropdown-menu-header-inner {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}

.dropdown-menu-header {
  color: #fff;
  margin-top: -0.65rem;
  margin-bottom: .65rem;
  position: relative;
  z-index: 6;
}

.dropdown-menu-header .dropdown-menu-header-inner {
  margin: -1px -1px 0;
  padding: 1.2rem .5rem;
  position: relative;
}

.dropdown-menu-header .menu-header-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 8;
  opacity: 1;
  filter: grayscale(80%);
  background-size: cover;
}

.dropdown-menu-header .menu-header-content {
  text-align: center;
  position: relative;
  z-index: 10
}

.dropdown-menu-header .menu-header-content.text-left {
  padding-left: .5rem
}

.dropdown-menu-header .menu-header-content.btn-pane-right {
  padding-left: .5rem;
  padding-right: .5rem;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: left
}

.dropdown-menu-header .menu-header-content.btn-pane-right .menu-header-btn-pane {
  margin: 0 0 0 auto
}

.dropdown-menu-header .menu-header-content .menu-header-btn-pane {
  margin-top: 10px;
  margin-bottom: 3px
}

.dropdown-menu-header+.grid-menu {
  margin-top: -.65rem
}

.menu-header-title {
  font-size: 1.8rem;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.menu-header-subtitle {
  font-size: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 5px 0 0;
}

.bg-deep-blue {
    background-image: linear-gradient(120deg, #6ac7d4 0%, #10c18e 100%) !important;
}

.vertical-without-time .vertical-timeline-element-content {
    margin-left: 36px;
}

.vertical-timeline-element-content {
    position: relative;
    margin-left: 32px;
    font-size: .8rem;
}

.vertical-time-simple .vertical-timeline-element-icon::after {
    content: '';
    position: absolute;
    background: #fff;
    left: 50%;
    top: 50%;
    margin: -4px 0 0 -4px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 20px;
}

.badge {
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    min-width: 19px;
}

.badge {
    display: inline-block;
    padding: .5em .8em;
    font-size: 0.7em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2.25rem;
    top: 20px;
    left: 15px;
    position: relative;
}

.vertical-time-simple .timeline-title {
    font-weight: normal;
    padding: 0
  }
  
.d-inline-block{
    display: inline-block;
}

.header-details ul {
    padding: 0;
    margin: 0 0 -7px;
    list-style: none;
    line-height: 24px
}

.start-details-u {
    padding: 0;
    margin: 0 0 -7px;
    list-style: none;
    line-height: 24px
}

.header-details li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 12px
}

.start-details-2{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 12px;
}

.mx-img {
    height: 16px;
    border-radius: 3px;
    position: relative;
    top: -1px;
    display: inline-block;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    margin-right: 5px;
    cursor: default
}

.d-inline-grid{
    display: inline-grid;
}


padding:0;
overflow: visible;
}
.detail-desc .form-control::-moz-placeholder{color:#6a7884;opacity:1;}
.detail-desc .form-control:-ms-input-placeholder{color:#6a7884;}
.detail-desc .form-control::-webkit-input-placeholder{color:#6a7884;}


.ur-detail-wrap.top-lay {
	width: 100%;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	padding:2.5em 2em;
	border-radius:6px;
	-webkit-transform: translateY(-80px);
	-o-transform: translateY(-80px);
	transform: translateY(-80px);
	background:#ffffff;
	border-bottom: 3px solid #10c18e;
	box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
}
.ur-detail-wrap.create-kit {
	-webkit-transform: translateY(-80px);
	-o-transform: translateY(-80px);
	transform: translateY(-80px);
	background:#ffffff;
	padding:0 2em;
	border-radius:6px;
	border-bottom:3px solid #11b719;
	box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
}
.ur-detail-wrap {
	width: 100%;
	display: block;
	position: relative;
	justify-content: center;
	align-items: center;
	padding:0 2em 2.5em 2em;
	border-radius:6px;
	background:#ffffff;
	box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
}

.sidebar-widgets {
    margin-bottom: 30px;
}
.ur-detail-box {
    display: flex;
	align-items: center;
    flex: 1;
}
.ur-thumb {
}
.ur-thumb {display: inline-block;padding: 0 20px;line-height: 140px;float: left;}
.ur-title {
    margin-bottom: 3px;
}
.ur-location {
    margin-bottom: 5px;
}
.rateing i {
    color: #d4d5dc;
}
.rateing i.filled {
    color: #ff9b20;
}
.ur-detail-wrap-header {
    padding: 18px 0 10px 0;
    border-bottom: 1px solid #10c18e;
    margin-bottom: 1.5em;
}
ul.ove-detail-list {
    margin: 0;
    padding: 0;
}
ul.ove-detail-list li {
    list-style: none;
    margin-bottom: 1.5em;
    padding: 0;
}
ul.ove-detail-list li:last-child{
	margin-bottom:0;
}
ul.ove-detail-list li i {
    font-size: 27px;
    float: left;
    margin-right: 10px;
    color: #a4abb5;
}
ul.ove-detail-list li h5 {
    margin-bottom: 2px;
}
.detail-status {
    position: absolute;
    right: 15px;
    top: 15px;
}
.detail-status span {
    color: #11b719;
    background: rgba(7, 177, 7,0.2);
	font-family: 'Montserrat', sans-serif;
	text-transform:capitalize;
    padding: 5px 25px;
    border-radius:2px;
}
.detail-pic{display: block;width:140px;background:#ffffff;border: 1px solid #10c18e;height:140px;border-radius:50%;margin:0;padding: 9px;margin:0 auto;position:relative;-webkit-transform: translateY(-50px);-o-transform: translateY(-50px);transform: translateY(-50px);}

.detail-pic img {
width: 120px;
height:120px;
margin:auto;
border-radius:50%;
}
a.detail-edit {
position: absolute;
left: 44%;
bottom:-12px;
}
a.detail-edit i {width: 30px;height: 30px;position: relative;background: #10c18e;border-radius: 50%;line-height: 30px;text-align: center;color: #ffffff;}

.ur-thumb img{
    width: 120px;
    margin-top: 10px;
    border-radius: 50%;
    height: 120px;
}

ul.ove-detail-list {
    margin: 0;
    padding: 0;
}
ul.ove-detail-list li {
    list-style: none;
    margin-bottom: 1.5em;
    padding: 0;
}
ul.ove-detail-list li:last-child{
	margin-bottom:0;
}
ul.ove-detail-list li i {
    font-size: 23px;
    float: left;
    margin-right: 10px;
    color: #10c18e;
}
ul.ove-detail-list li h5 {
    margin-bottom: 2px;
}

.ur-detail-wrap {
    width: 100%;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 2em 2.5em 2em;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

@font-face {
    font-family: 'Sigmar One';
    font-style: normal;
    font-weight: 400;
    src: local('Sigmar One Regular'), local('SigmarOne-Regular'), url(https://fonts.gstatic.com/s/sigmarone/v9/co3DmWZ8kjZuErj9Ta3do6Tpow.ttf) format('truetype');
  }

  .btn-gray{
    background: gray;
    border-color: gray;
    color: #fff;
    border-radius: 25px;
  }

  .congrats-cotent{
    position: fixed;
    top: calc(50% - 100px);
    width: 100%;
    height: 252px;
    background: white;
    z-index: 99;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  }

  .showPerfil{
    margin-top: 60px;
  }
  
  #congrats {
    position: absolute;
    top: 65px;
    width: 550px;
    height: 100px;
    line-height: 1;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  #title {
    transform-origin: 50% 50%;
    font-size: 50px;
    font-family: 'Sigmar One', cursive;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    color: #10c18e;
  }
  .particle {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1;
    font-size: 30px;
  }
  .star {
    color: #ffcc00;
  }
  .blob {
    background: #d5f2ff;
    background: rgba(255, 204, 0, 0.25);
    border-radius: 50%;
    display: block;
  }
  
  .quali-time i {
      font-size: 12px;
  }
  .quali-time {
    right: 0;
    border-radius: 2px 0 0 2px;
    top: 7px;
    z-index: 2;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    position: absolute;
    padding: 10px 14px 10px 10px;
    text-transform: uppercase;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.part-time {
    background: #077584;
}

@media (min-width: 576px){
    .modal-dialog-centered {
        min-height: calc(50% - 3.5rem);
    top: calc(50% - 250px);

    }
}

.form-stars {
    margin: 0 auto;
    padding: 0 42px;
  }
  
  .form-stars p {
    text-align: center;
  }
  
  .form-stars label {
    font-size: 3em;
  }
  
  input[type="radio"] {
    display: block;
  }
  
  .label-star {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    margin: auto;
    margin-bottom: 16px;
  }
  
  .label-star:hover,
  .label-star:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ .label-star {
    color: orange;
  }

  .user-stars{
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px auto;
    background: #10c18e;
  }

  .user-stars img{
    border-radius: 50%;
    height: 120px;
  }

  .fix-stars{
    position: absolute !important;
    bottom: 3.5em !important;
    left: 1em !important;
    top: 130px;
  }

  .fix-nav-bottom{
    background: #1c2733 !important;
  }

.logo-footer{
    width: 252px;
    margin: auto;
    display: block;
    margin-top: 31px;
}

.alert-complete{
    text-align: center;
    margin: 2em;
    font-size: 20px;
}

.fix-btn-action{
    top: 0px;
    position: absolute;
    right: 0px;
}

.fix-top-cero{
    top: -8px !important;
}

.fix-contact{
    position: relative;
    bottom: -42px;
}

.clasificacion input[type="radio"]{
    display: none !important;
}

.map-option{
    position: absolute;
    top: 88px;
    z-index: 99;
    left: 20px;
}

.map-filter-form{
   width: 25%;
   display: inline-block;
   top: 36px;
   position: relative;
}

.map-button-disable{
    background: gray;
    border-color: gray;
}

.check-yes{
    float: left;
    display: inline-block;
    text-align: right;
    width: 50%;
    padding-right: 10px;
}

.check-no{
    float: left;
    display: inline-block;
    text-align: left;
    width: 50%;
}
.custom-control-input{
    cursor: pointer;
}

.search .form-control {
    height: 50px;
    border: 1px solid #10c18e;
    margin-bottom: 10px;
    box-shadow: none;
    border-radius: 25px 0 0 25px !important;
    background: #fbfdff;
    font-size: 15px;
    color: #445461;
    font-weight: 400;
}
.search-btn{
    border-radius: 0px 20px 20px 0 !important;
}
.img-alert{
    margin: 4%;
}
.text-alert{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #10c18e;
}
.back-btn-alert{
    font-size: 22px;
    font-weight: 700;
}

.back-btn-alert i{
    font-weight: 700;
    top: 2px;
    position: relative;
}

.job.cndt-caption {
    min-height: 398px !important;
}
.alert-msg{
    background: #eeeced;
    border-radius: 15px;
    padding-bottom: 4%;
}
