@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?veriw3');
  src:  url('../font/icomoon.eot?veriw3#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?veriw3') format('truetype'),
    url('../font/icomoon.woff?veriw3') format('woff'),
    url('../font/icomoon.svg?veriw3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-acept:before {
  content: "\e900";
}
.icon-about:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e902";
}
.icon-back:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-category:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-logout:before {
  content: "\e907";
}
.icon-pass:before {
  content: "\e908";
}
.icon-email:before {
  content: "\e909";
}
.icon-description:before {
  content: "\e90a";
}
.icon-down:before {
  content: "\e90b";
}
.icon-age:before {
  content: "\e90c";
}
.icon-edit:before {
  content: "\e90d";
}
.icon-delete:before {
  content: "\e90e";
}
.icon-company:before {
  content: "\e90f";
}
.icon-facebook:before {
  content: "\e910";
}
.icon-filter:before {
  content: "\e911";
}
.icon-giro_empresa:before {
  content: "\e912";
}
.icon-horas:before {
  content: "\e913";
}
.icon-ig:before {
  content: "\e914";
}
.icon-messege:before {
  content: "\e915";
}
.icon-menu_search:before {
  content: "\e916";
}
.icon-menu_add:before {
  content: "\e917";
}
.icon-perfil:before {
  content: "\e918";
}
.icon-money:before {
  content: "\e919";
}
.icon-oficios:before {
  content: "\e91a";
}
.icon-new_oficio .path1:before {
  content: "\e91b";
  color: rgb(255, 255, 255);
}
.icon-new_oficio .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_oficio .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_oficio .path4:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_oficio .path5:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_oficio .path6:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new_oficio .path7:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_oficio .path8:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-new_oficio .path9:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_oficio .path10:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new_oficio .path11:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_oficio .path12:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-new_oficio .path13:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_oficio .path14:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-new_oficio .path15:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_oficio .path16:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_oficio .path17:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new_oficio .path18:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_oficio .path19:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_trabajo .path1:before {
  content: "\e92e";
  color: rgb(153, 153, 153);
}
.icon-new_trabajo .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-new_trabajo .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_trabajo .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new_trabajo .path5:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_trabajo .path6:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_trabajo .path7:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_trabajo .path8:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_trabajo .path9:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_trabajo .path10:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_trabajo .path11:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_trabajo .path12:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_trabajo .path13:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_trabajo .path14:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-new_trabajo .path15:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-cards:before {
  content: "\e93d";
}
.icon-user:before {
  content: "\e93e";
}
.icon-powered:before {
  content: "\e93f";
}
.icon-pointer:before {
  content: "\e940";
}
.icon-calendary:before {
  content: "\e941";
}
.icon-right:before {
  content: "\e942";
}
.icon-up:before {
  content: "\e943";
}
.icon-phone:before {
  content: "\e944";
}
.icon-old:before {
  content: "\e945";
}
.icon-terms:before {
  content: "\e946";
}
.icon-job:before {
  content: "\e947";
}
.icon-express:before {
  content: "\e948";
}
.icon-ubiq:before {
  content: "\e949";
}
.icon-version:before {
  content: "\e94a";
}
.icon-whats:before {
  content: "\e94b";
}
